<html>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <div id="app">
        {{ message }}<br/>
        {{ data.results.count }}
    </div>
    <script>
        var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue (2)!',
            results: []
        },
        mounted() {
            axios.get("http://ski-app.azurewebsites.net/api/list")
            .then(response => {this.results = response.data.results})
        }
        })
    </script>
</html>