<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="SlalomTracker-prod" value="https://pkgs.dev.azure.com/jasondel/_packaging/SlalomTracker/nuget/v3/index.json" protocolVersion="3" />
        <add key="SlalomTracker-dev" value="ref" />
    </packageSources>
</configuration>